<div class="flex w-screen h-screen font-display justify-center ">
  <div class="form-layout flex  items-center">
    <form [formGroup]="loginForm">
      <fieldset class="fieldset bg-base-200 border-base-300 rounded-box w-xs border p-4">
        <legend class="fieldset-legend">Login</legend>

        <label class="label">Email</label>
        <input [formControl]="loginForm.controls.username" (keydown.enter)="onClick()" type="email" class="input" placeholder="Email" />

        <label class="label">Password</label>
        <input [formControl]="loginForm.controls.password" (keydown.enter)="onClick()" type="password" class="input" placeholder="Password" />

        <button routerLink="/user/register" class="btn btn-outline btn-secondary mt-4">Register</button>
        <button (click)="onClick()"  [disabled]="loginForm.invalid" class="btn btn-secondary mt-4">Login</button>
      </fieldset>
    </form>
  </div>
</div>