<div class="drawer">
  <input id="app-drawer" type="checkbox" class="drawer-toggle" />
  <div class="drawer-content">
    <div class="fab">
      <label for="app-drawer" class="btn btn-lg btn-circle btn-secondary">
        <fa-icon icon="bars"></fa-icon>
      </label>
    </div>
    <ng-content />

  </div>
  <div class="drawer-side">
    <label for="app-drawer" aria-label="close sidebar" class="drawer-overlay"></label>
    <ul class="bg-base-200 min-h-full w-80 p-2">
      <div class="flex w-full flex-col">
        <app-avatar />
        <p class="text-center">{{ (user$|async)?.name }}</p>
        <div class="divider"></div>
        <ul class="menu menu-lg bg-base-300 rounded-box w-full">
          <li>
            <h2 class="menu-title">Módulos</h2>
            @for (item of menuItems; track $index) {
          <li>
            <a class="pl-0" routerLink="{{item.path}}">
              <fa-icon class="text-secondary text-left" icon="{{item.icon}}"></fa-icon>{{item.name}}
            </a>
          </li>
          }
          </li>
        </ul>
      </div>
    </ul>
  </div>
</div>