<div class="flex w-screen h-screen font-display justify-center ">
  <div class="form-layout flex  items-center">
    <form [formGroup]="RegisterForm">
      <fieldset class="fieldset bg-base-200 border-base-300 rounded-box w-xs border p-4">
        <legend class="fieldset-legend">Login</legend>

        <label class="label">Email</label>
        <input formControlName="email" type="email" class="input" placeholder="Email" />

        <label class="label">Password</label>
        <input formControlName="password"  type="password" class="input" placeholder="Password" />

        <button (click)="onClick()" class="btn btn-neutral mt-4">Login</button>
      </fieldset>
    </form>
  </div>
</div>